<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div id="content">
    <p th:text="'Name: ' + ${foundPerson.name}"></p>
    <p th:text="'Surname: ' + ${foundPerson.surname}"></p>
    <p th:text="'Patronymic: ' + ${foundPerson.patronymic}"></p>
    <p th:text="'Age: ' + ${foundPerson.age}"></p>
    <p th:text="'Salary: ' + ${foundPerson.salary}"></p>
    <p th:text="'Enail: ' + ${foundPerson.email}"></p>
    <p th:text="'Place of work: ' + ${foundPerson.job}"></p>

    <a href="/search">Find another one</a>
    <a href="/">Home</a>

    <div id="footer">
        <p th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm:ss')}"></p>
        <p th:text="${#httpServletRequest.getHeader('User-Agent')}"></p>
    </div>
</div>
</body>
</html>