<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Send Email</title>
</head>
<body>
<div id="content">
    <h1>Send Email</h1>
    <form action="#" th:action="@{/send}" th:object="${send}" method="post">
        <p>To: <input type="email" th:field="*{to}"/></p>
        <p>Subject: <input type="text" th:field="*{subject}"/></p>
        <p>Text: <input type="text" th:field="*{text}"/></p>
        <p><input type="submit" value="Send"/></p>
    </form>
    <a href="/">Home</a>
</div>
</body>
</html>